<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<property name="LOG_PATH" value="C:/labs/logs" />
	
	<!-- appender 태그는 파일을 저장하겠다는 태그. -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%n======== Test ==========%n%d{HH:mm:ss.SSS} [%thread] %-4level [%logger.%method:%line]-%n&gt;&gt;&gt; %msg%n</pattern>
		</layout>
	</appender>

	<appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/app/test.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>test.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 7일 지난 파일은 삭제한다. -->
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4level [%logger.%method:%line]- %msg %n</pattern>
		</encoder>
	</appender>
	
	
	<appender name="LOGINLOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/app/login.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>login.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 7일 지난 파일은 삭제한다. -->
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4level [%logger.%method:%line]- %msg %n</pattern>
		</encoder>
	</appender>

<!-- 로그파일을 db에 저장. 	   
	<appender name="MYSQL" class="base.log.LogBackDataBaseAppender">
        <driver>com.mysql.cj.jdbc.MysqlDataSource</driver>
        <url>jdbc:mysql://localhost:3306/test_db?characterEncoding=utf8&amp;serverTimezone=UTC</url>
        <username>root</username>
        <password></password>
	</appender>
-->

	<!-- RULES for logging DEBUG < INFO < WARN < ERROR < FATAL. -->
	<!-- framework = info -->
 	<logger name="org.springframework" level="info" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>

 	<logger name="org.apache.commons" level="info" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="jdbc" level="off"/>
	<logger name="jdbc.sqlonly" level="info"/>
	<logger name="jdbc.resultsettable" level="off"/>
	<logger name="jdbc.sqltiming" level="off"/>
	
	<!-- class = debug -->
 	<logger name="base.login.AdminLoginHelper" level="debug" additivity="false">
		<appender-ref ref="LOGINLOGFILE" />
	</logger>
<!-- 
 	<logger name="app.test.MongoLoggerTest" level="debug" additivity="false">
		<appender-ref ref="MYSQL" />
	</logger>
-->	 	
	<root>
		<level value="debug" additivity="false"/>
		<appender-ref ref="CONSOLE" />
		<!-- appender-ref ref="LOGFILE" / -->
		<!-- appender-ref ref="MYSQL"  / -->
	</root>

</configuration>